name: Android Release AAB

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-release-aab:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build release AAB
        run: gradle :app:bundleRelease

      - name: Upload release AAB artifact
        uses: actions/upload-artifact@v4
        with:
          name: somnath-representative-aab-release
          path: app/build/outputs/bundle/release/*.aab
